@use '~@kth/style/scss/utils/layers.scss';
@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';
@use '~@kth/style/scss/utils/prose.scss';

@use '~@kth/style/scss/tokens/typography.scss';
@use '~@kth/style/scss/tokens/colors.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/mobile-menu.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/content.scss';
@use '~@kth/style/scss/components/local-navigation.scss';
@use '~@kth/style/scss/components/kpm.scss';

@import 'shared';

.memo-menu,
.admin-form,
.preview-form {
  h2 {
    margin-bottom: 16px;
  }
  h3 {
    margin-bottom: 8px;
  }
}

.admin-form {
  .form-label {
    display: block;
  }
}

.preview-form {
  .pdf-link {
    margin: 0;
  }
}

.kth-alert {
  margin-bottom: 32px;
}

.no-access {
  font-weight: 100;
}

.select-wrapper {
  width: 20em;
}

.form-intro-paragraph {
  @include typography.font-heading-xs;
  display: block;
  margin-bottom: 0.25rem;
}

// ----- PAGE 2: FORM ------- //

.upload-text {
  border: 1px solid var(--color-border);
  font-size: 0.875rem;
  padding: 5px;
  border-radius: 5px;
}

.upload-text-wrapper {
  display: inline-flex;
}

.file-progress-bar {
  height: 6px;
  width: 100%;
  display: block;
  border: 1px solid var(--color-border);
  .file-progress {
    height: 5px;
    display: block;
    background: var(--color-primary);
  }
}

.not-valid {
  border: 2px solid var(--color-error) !important;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

// ----- ICONS ----- //

.kth-icon-button.icon-trash-can {
  &::before {
    background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/delete-blue.svg');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}

// ------- Popover -------- //

.popover {
  .popover-header {
    @include typography.font-heading-xs;
  }
}
