{{prefixScript '/static/js/app/view/indexModule.js'}}

<div class="col">
  <h1>node-web</h1>

  {{#if error}}
    <p>Error: {{error}}</p>
  {{else}}
    <div id="api-data">{{data}}</div>
  {{/if}}
</div>

